<!DOCTYPE>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display-swap" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css?family=Lato:wght@300;400;700&family=Roboto:wght@300;400&display=smap"
          rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
<body style="font-family: Arial, sans-serif; text-align: center;">
<div style="padding: 20px; border: 1px solid #ddd; border-radius: 10px; max-width: 500px; margin: auto;">
    <img src="cid:logoImage" alt="Logo" style="width: 150px; margin-bottom: 20px;"/>
    <h2 style="color: #333;">Olá #nome#,</h2>
    <p style="font-size: 16px; color: #000000;">Recebemos com sucesso o seu cadastro na nossa plataforma!</p>
    <p style="font-size: 16px; color: #555;">Use a senha a abaixo para acessar o sistema:</p>
    <h1 style="color: #007bff; font-size: 24px;">#senha#</h1>
    <p style="font-size: 14px; color: #000000;">Atenciosamente,</p>
    <p style="font-size: 14px; color: #000000;">Equipe NOME DO SISTEMA</p>
</div>
</body>
</html>